
body{
    font-family:'Jockey One', sans-serif;;
    background: url(ilustraciones/BACKGROUDN.svg), lightgray 50% / cover no-repeat;
    min-height: 100vh;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    position: relative;
    height: 1080;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center; 
    right: 0;  
    margin-right: 0;
}

.returnHome {
    z-index: 2;
    top: 0;
    left: 0;
    margin-right: 40%;

    color: #66C456;
    text-align: center;
    font-family: Jockey One;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 50px;

}


.header {



    display: flex;





    align-items: center;
    align-content: center;
    padding-top: 17;

    background-color: white;
    background-size: cover;
    z-index: 1;

}

.contenedor-textos {
    flex-basis: 50%;
    padding-left: 94px;

}


.login {
    color: #000;

    text-align: center;
    font-family: Jockey One;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    text-decoration: none;


}

.qebw {
    color: #000;
    text-align: center;
    font-family: Jockey One;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 60px;

}
.textoAlt{
color: rgb(39, 39, 39);
}
.encuestas {
    color: #000;
    text-align: center;
    font-family: Jockey One;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 60px;


}

.quienesSomos {
    color: #000;
    text-align: center;
    font-family: Jockey One;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 60px;

}
.pretitulo{

    display: flex;
    width: 478px;
    height: 73px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    
color: #000;
font-family: Jockey One;
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;

padding-top: 100px;
}

.titulo{


    color: #000;
font-family: Jockey One;
font-size: 158px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 4.74px;
margin-bottom: -20px;

}

.descargar{
    color: #FFF;
    

font-family: Jockey One;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 110px;


padding: 5px 10px;
border-radius: 103px;
background: url(ilustraciones/DESCARGAR.svg), lightgray 50% / cover no-repeat;
text-decoration: none;

}

.vermas{

    color: #FFF;
font-family: Jockey One;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;

margin-left: 90px;


padding: 5px 10px;
border-color: white;
border-radius: 103px;
background: url(ilustraciones/Vermas.svg), lightgray 100% / cover no-repeat;
text-decoration: none;

}
.vectorBlanco{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
    
}
.PARROT{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 59.3%;


}

.textoAlt{
    margin-top: 320px;
    width: 1200px; 
  word-wrap: break-word;
}

::-webkit-scrollbar {
    display: none; 
  }
  

